.navbar {
  box-shadow: 10px 2px 2px #888888;
  font-weight: 700;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: .5rem 1rem;
  background-color:$main;
  
  &__brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin: 0 auto;
    font-size: 1.8rem;
    white-space: nowrap;
    color: #fff;
  }
}